* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* CONFIGURAĆ‡Ć•ES DO FUNDO */
body {
    background-color: #f7f7f7;
    align-items: center;
}

section {
    padding: 3%;
}

/* NAV ABAIXO */
nav {
    text-align: center;
    background-color: rgb(56, 69, 132 , 0.8);
    padding: 3%
}

/* NAV ACIMA */
.a-menu {
    color: #151620;
    font-size: 1.8rem;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    transition: 1s;
    padding: 0 5% 0 5%;
}

.a-menu {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #151620;
    border-left: 4px;
}

.a-menu:hover {
    padding-left: 30px;
    border-left: 4px solid rgba(15, 5, 1, 0.815);
    color: #6f7388;
    transition: .4s;
}

.banner {
    width: 70%;
    display: block;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
}
/*-----------------------------------------------------*/
h1 {
    font-size: 3rem ;
    font-family: fantasy;
    color: #151620;
    text-decoration-color: #151620;
    text-align: left;
    padding: 0% 3% 3% 0%;
}

article {
    text-align: justify;
    font-size: 1.5rem;
    font-family: Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    border-radius: 26px;
    box-sizing: border-box;
    color: #40352C;

}


/*-------------------------------------*/
.container_form {

    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background:#ffffff; 
    box-shadow: 1px 0px 1.2px 0px #e3e3e3; 
    border-radius:3px; 
    padding:1em;

}

.container_form h1 {
    
    font-family:'open_sansregular';
    font-size: 2.3em;
    color: #151620;
    border-bottom: 1px #f0eded solid;
    margin-bottom: 10px;
    padding-bottom: 10px;

}

.form_grupo {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
}

.form_grupo .legenda { 

    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

/* SUBMIT */

.submit { width:100%; float:left; }

.submit_btn {

    float: left;
    display: block;
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: #242C64;
    color: #DDF0FF;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-family: inherit;
    font-size: 25px;
    font-family:'Helvetica, sans-serif';
    border-radius: 6px;
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.3s;
}

.submit_btn:hover {

    background-color: #444444;
    transform: scale(1.03);

}

.dropdown {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    color: #222222;
    border-radius: 4px;
    border: 1px #f2f2f2 solid;
    background: #fdfdfd;
    outline: none;
    padding-left: 10px;
    width: 100%;
}

.form_new_input {
    display: none;
}

.radio_label,
.check_label {

    float: left;
    width: 100%;
    padding-left: 30px;
    cursor: pointer;
    margin-bottom: 8px;

}


.radio_new_btn {

    position: absolute;
    left: 0;
    transform: translateY(3px);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 0.2em solid #4c4c4c;

}

.radio_new_btn::after {

    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #6fcffb;
    visibility: hidden;

}

.check_new_btn {

    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    border: 0.2em solid #4c4c4c;

}

.check_new_btn::after {

    content: "";
    height: 8px;
    width: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6fcffb;
    visibility: hidden;

}

.form_new_input:checked ~ .radio_label .radio_new_btn::after,
.form_new_input:checked ~ .check_label .check_new_btn::after {
 
    visibility: visible;
}

.form_new_input:checked ~ .radio_label,
.form_new_input:checked ~ .check_label {
    color: #6fcffb;
}


.form_grupo {

    width: 100%;
    margin-bottom: 20px;
    position: relative;

}

.form_input {

    font-size: 16px;
    font-family: inherit;
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px #f2f2f2 solid;
    background: #fdfdfd;
    outline: none;
    width: 100%;
    transition: all 0.3s;

}

.form_message,
.form_message .message_input {

    width: 100%;
    float:left;

}

.form_message_label {

    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    
}

/*----------------------------------*/
